.card_ctld {
    box-shadow: 0 0 0 8px #001055, 0 10px 20px #0000 ;
    color: #fff;
    background-size: cover;
    transform: scale(1.1);
    margin-top: 30px;
   
}


.button_ctld {
    font-family: Poppins;
    background-color: #001055;
    font-weight: 600;
    color: #ff8801;
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 30px;
    cursor: pointer;
    opacity: 0;
    transform: translateY(100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_ctld {
    background-color: #001055;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.6);
    color: #fff;
}

.card_ctld .button_ctld {
    opacity: 1;
    transform: translateY(50%);
}