

/* About page first paragraph heading CSS */
.sublime {
    font-family:'poppins';
    line-height:28px;
    text-align:center;
    justify-content: center;
    font-size:18px;
    font-weight:500px;
  }

  /* Our Colleges section CSS  */
  .custom-box {
    background-color: #001055;
    color: white;
    padding: 10px;
  }
  
  .custom-list{
    list-style-type: none;
    padding-left: 10%; 
    padding-right: 10%; 
    color:#fff!important;
  }
  
  .custom-list li a{
    list-style-type: none;
    color:#fff!important;
    }
/* About page first paragraph heading CSS end */


/* CSS for multiple para's and links inside paragraphs start */
.about-us-container p a {
  color: #001055;
  margin-bottom: 20px;
  font-family: 'poppins';
  font-weight: 700;
}

.about-us-container p {
  margin: 0 0 10px 0;
  font-size: 14px;
}
/* CSS for multiple para's and links inside paragraphs end */


/* <!-- The journey of TMU CSS start --> */

  .center-table {
    margin: 0 auto;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }

  /* For mobile and tablet views */
  @media only screen and (max-width: 768px) {

    .table td,
    .table th {
      display: block;
      text-align: center;
      margin-top: -10px;
    }
  }

  @media screen and (max-width: 768px) {
    .table> :not(caption)>*>* {
      padding: 1rem !important;
    }
  }

  .table> :not(caption)>*>* {
    padding: 1.2rem !important;
    color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));
    background-color: var(--bs-table-bg);
    border-bottom-width: var(--bs-border-width);
    box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)));
  }

/* <!-- The journey of TMU CSS end --> */


/* Number That Define Us CSS Start */
@media (max-width: 767px) {
  .essential-section .col-lg-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
/* Number That Define Us CSS end */


/* Carousel Indicator CSS start */
.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #FF7900 !important;
}

.list-style-none {
  list-style: none;
}
/* Carousel Indicator CSS end */


