

/* About page first paragraph heading CSS */
.sublime {
    font-family:'poppins';
    line-height:28px;
    text-align:center;
    justify-content: center;
    padding: 0 10%!important;
    font-size:18px;
    font-weight:500px;
  }

  /* Our Colleges section CSS  */
  .custom-box {
    background-color: #001055;
    color: white;
    padding: 10px;
  }
  
  .custom-list{
    list-style-type: none;
    padding-left: 10%; 
    padding-right: 10%; 
    color:#fff!important;
  }
  
  .custom-list li a{
    list-style-type: none;
    color:#fff!important;
    }