/* Page Main heading css */

    .banner-main-heading {
    color: #001055;
    text-transform: capitalize;
    font-weight: 500 !important;
    font-size: 3.8rem;
    line-height: 1.2
    }
    
    @media screen and (max-width:1024px) {
    .banner-main-heading {
    font-size: 2.4rem;
    }
    }
    
    @media screen and (max-width:1024px) {
    .banner-main-heading {
    font-size: 2.4rem;
    }
    
    .tmu-btn {
    font-size: 14px;
    }
    }
    
    @media screen and (max-width:991px) {
    .banner-main-heading {
    font-size: 2rem;
    }
    }
    
    /* Page Main heading css end*/


    /* college banner main headding css start */
        .college-main-heading {
        font-size: 1.8rem;
        font-weight: 700;
        }
        
    /* college banner main headding css end */

    /* CSS for tmu custom modal and testimonial start*/
    .tmu-modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    /* pointer-events: none; */
    }
    
    .tmu-modal.active {
    display: block;
    }
    
    .tmu-modal .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 101;
    /* */
    }
    
    .tmu-modal .tmu-modal-box {
    width: fit-content;
    height: fit-content;
    position: relative;
    z-index: 102;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 30vw;
    }
    
    .tmu-modal .tmu-modal-box .close-btn {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #001055;
    z-index: 1;
    cursor: pointer;
    }
    
    #testimonialModal .tmu-testimonial {
    border-radius: 10px;
    }
    
    #testimonialModal .tmu-testimonial .testimonial>p:nth-child(2) {
    max-height: 50vh;
    overflow: auto;
    text-align: justify;
    }
    
    #testimonialModal .tmu-testimonial .testimonial {
    /* padding-bottom: 2rem; */
    overflow: hidden;
    padding: 0 1rem;
    padding-right: 1rem;
    }
    
    #testimonialModal .tmu-testimonial .testimonial:before {
    /* padding-bottom: 2rem; */
    display: none;
    }
    
    #testimonialModal .tmu-testimonial .overview {
    margin-left: 0;
    }
    
    
    @media screen and (max-width:991px) {
    .tmu-modal .tmu-modal-box {
    max-width: 50vw;
    }
    }
    
    @media screen and (max-width:480px) {
    .tmu-modal .tmu-modal-box {
    max-width: 90vw;
    }
    }
    
    /* CSS for tmu custom modal and testimonial end */

    
/* <!-- CSS for collaborators --> */

.collab-card {
    border: none;
    margin-bottom: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-height: 20rem;
    }
    
    
    .collab-card-img {
    width: 50%;
    display: block;
    margin: 0.3rem auto;
    mix-blend-mode: multiply;
    margin-top: 0.6rem;
    }
    
    .collab-card-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #FF7900;
    text-align: center;
    }
    
    .collab-card-text {
    overflow: hidden;
    font-size: 14px;
    max-height: 4rem;
    overflow: hidden;
    font-weight: 400;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* -webkit-line-clamp: 3; */
    -webkit-box-orient: vertical;
    color: #001055;
    margin-bottom: 30px;
    }
    
    @media screen and (max-width:480px) {
    .collab-card {
    min-height: fit-content;
    }
    }
    
    .hover-effect:hover {
    background-color: #001055 !important;
    }
    
    .industry-collaborators .owl-carousel .owl-item img {
    width: 50%;
    }
    /* <!-- CSS for collaborators end --> */
    
    
    
    
    /* CSS for tmu custom modal start*/
    
        #collabModal .tmu-modal-box .collab-card-text {
        max-height: 50vh;
        overflow-y: auto;
        }
    
    /* CSS for tmu custom modal end */
    
    /* CSS to prevent cards designs not to cut from bottom in cards */
    .owl-carousel .owl-stage-outer {
    overflow: visible !important;
    overflow-x: hidden !important;
    padding: 2rem 0;
    }

    /* medical adnission cards start */
    .medical-container {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        height: 20vh;
        margin: 0;
    }

    .medical-box {
        background-color: #e1e3eb;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        text-align: center;
        width: 35%;
        border: 1px #001055 solid
    }
    
    .medical-box h3 {
        color: #001055;
        margin-bottom: 5px;
    }
    
    .medical-custom-btn {
        background: linear-gradient(135deg, #ff7900, #ff9900);
        color: #ffffff;
        border: 2px solid #ff7900;
        margin: 10px;
        padding: 8px 16px;
        border-radius: 5px;
        transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 0.6rem;
        cursor: pointer;
    }
    
    .medical-custom-btn:hover {
        background: linear-gradient(135deg, #e06e00, #ff7900);
        transform: scale(1.05);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }
    
    .medical-custom-btn:focus {
        outline: none;
        box-shadow: 0 0 0 4px rgba(255, 121, 0, 0.5);
    }
    
    @media screen and (max-width: 1300px) {
        .medical-box {
            width: 45%;
            margin-bottom: 30px;
        }
    }
    
    @media screen and (max-width: 800px) {
        .medical-container {
            display: none;
        }
    }
    
    @media screen and (min-width: 800px) {
        .medical-hide {
            display: none;
        }
    }
    /* medical adnission cards start */