.main-heading {
font-size: 1.8rem;
font-weight: 700;
}




/* <!-- CSS for Swiper slider to set the image carousel image src --> */

.swiper-slide--one {
background: linear-gradient(to top, #ffffff00, #203a4300, #2c536400),
url("../image/certification/1st.png") no-repeat 50% 50% / contain;
}

.swiper-slide--two {
background: linear-gradient(to top, #ffffff00, #203a4300, #2c536400),
url("../image/certification/2nd.png") no-repeat 50% 50% / contain;
}

.swiper-slide--three {
background: linear-gradient(to top, #ffffff00, #203a4300, #2c536400),
url("../image/certification/3rd.png") no-repeat 50% 50% / contain;
}

.swiper-slide--four {
background: linear-gradient(to top, #ffffff00, #203a4300, #2c536400),
url("../image/certification/4th.png") no-repeat 50% 50% / contain;
}

.swiper-slide--five {
background: linear-gradient(to top, #ffffff00, #203a4300, #2c536400),
url("../image/certification/5th.png") no-repeat 50% 50% / contain;
}

.swiper-slide--six {
background: linear-gradient(to top, #ffffff00, #203a4300, #2c536400),
url("../image/certification/6th.png") no-repeat 50% 50% / contain;
}

.swiper-slide--seven {
background: linear-gradient(to top, #ffffff00, #203a4300, #2c536400),
url("../image/certification/3rd.png") no-repeat 50% 50% / contain;
}


main1>div p,
main1>div p span {
font-size: 3.6rem;
width: fit-content;
height: fit-content;
}


@media screen and (max-width:480px) {

main1>div p,
main1>div p span {
font-size: 1.2rem;
}

main1>div p br {
display: none;
}

main1>div p {
margin: 20px auto;

}
}



/* <!-- CSS for collaborators --> */

.custom-card {
border: none;
margin-bottom: 30px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
min-height: 20rem;
}


.custom-card-img {
width: 50%;
display: block;
margin: 0.3rem auto;
mix-blend-mode: multiply;
margin-top: 0.6rem;
}

.custom-card-title {
font-size: 16px;
font-weight: bold;
margin-bottom: 15px;
color: #FF7A00;
}

.custom-card-text {
overflow: hidden;
font-size: 14px;
max-height: 4rem;
overflow: hidden;
font-weight: 400;
text-overflow: ellipsis;
display: -webkit-box;
/* -webkit-line-clamp: 3; */
-webkit-box-orient: vertical;
color: #001055;
}

@media screen and (max-width:480px) {
.custom-card {
min-height: fit-content;
}
}

.hover-effect:hover {
background-color: #001055 !important;
}

.industry-collaborators .owl-carousel .owl-item img {
width: 50%;
}
/* <!-- CSS for collaborators end --> */




/* CSS for tmu custom modal start*/


.tmu-modal {
width: 100vw;
height: 100vh;
position: fixed;
z-index: 100;
top: 0;
left: 0;
overflow: hidden;
display: none;
/* pointer-events: none; */
}

.tmu-modal.active {
display: block;
}

.tmu-modal .overlay {
background-color: rgba(0, 0, 0, 0.6);
width: 100vw;
height: 100vh;
position: absolute;
z-index: 101;
/* */
}

.tmu-modal .tmu-modal-box {
width: fit-content;
height: fit-content;
position: relative;
z-index: 102;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
max-width: 30vw;
}

.tmu-modal .tmu-modal-box .close-btn {
position: absolute;
top: 5px;
right: 15px;
font-size: 1.6rem;
font-family: Arial, Helvetica, sans-serif;
color: #001055;
z-index: 1;
cursor: pointer;
}


#collabModal .tmu-modal-box .custom-card-text {
max-height: 50vh;
overflow-y: auto;
}

#testimonialModal .tmu-testimonial {
border-radius: 10px;
}

#testimonialModal .tmu-testimonial .testimonial>p:nth-child(2) {
max-height: 50vh;
overflow: auto;
text-align: justify;
}

#testimonialModal .tmu-testimonial .testimonial {
/* padding-bottom: 2rem; */
overflow: hidden;
padding: 0 1rem;
padding-right: 1rem;
}

#testimonialModal .tmu-testimonial .testimonial:before {
/* padding-bottom: 2rem; */
display: none;
}

#testimonialModal .tmu-testimonial .overview {
margin-left: 0;
}


@media screen and (max-width:991px) {
.tmu-modal .tmu-modal-box {
max-width: 50vw;
}
}

@media screen and (max-width:480px) {
.tmu-modal .tmu-modal-box {
max-width: 90vw;
}
}

/* CSS for tmu custom modal end */




/* CSS to prevent cards designs not to cut from bottom in cards */
.owl-carousel .owl-stage-outer {
overflow: visible !important;
overflow-x: hidden !important;
padding: 2rem 0;
}



/* Page Main heading css */

.tmimt-main-heading {
color: #001055;
text-transform: capitalize;
font-weight: 500 !important;
font-size: 3.8rem;
line-height: 1.2
}

@media screen and (max-width:1024px) {
.tmimt-main-heading {
font-size: 2.4rem;
}
}

@media screen and (max-width:1024px) {
.tmimt-main-heading {
font-size: 2.4rem;
}

.tmu-btn {
font-size: 14px;
}
}

@media screen and (max-width:991px) {
.tmimt-main-heading {
font-size: 2rem;
}
}

/* Page Main heading css end*/


/* Awards SEction CSS */

.tmimt-awards-heading {
text-align: center;
font-weight: 700;
line-height: 1.2
}

.tmimt-awards-heading>span:first-child {
color: white;
font-size: 3rem;
float: left;
}

.tmimt-awards-heading .symbol {
color: #FF7A00;
font-size: 4.8rem;
font-weight: 400;
}

@media screen and (max-width:1024px) {
main1 {
flex-direction: column;
}
}

@media screen and (max-width:480px) {
.tmimt-awards-heading>span:first-child {
font-size: 1.4rem;
margin-bottom: 20px;
}

.tmimt-awards-heading .symbol {
font-size: 2rem;
}

.swiper-management-awards {
padding-bottom: 2rem;
}
}


/* Awards Section CSS end */




/* CSS for Director's Desk  */

.quote-container {
  display: flex;
  justify-content: center !important;
  align-items: center;
  height: 65vh;
  background-color: #f0f0f0;
}

.quote-box {
  width: 90%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  align-items: center;
}

.quote-symbol {
  font-size: 50px;
  /* Increase the font size of the quote symbol */
  margin: 0px;
  color: #888;
  /* Adjust the color of the quote symbol */
}

.quote-text {
  flex: 1;
  padding: 0 20px;
  text-align: right;
}

.quote-text h4 {
  font-size: 20px;
  margin-bottom: 0px;
  font-weight: 400;
  line-height: 24px;
  text-align: justify;
}

.quote-text p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  color: #ff7a00;
  margin-bottom: 0px;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.quote-text span {
  font-size: 30px;
  line-height: 24px;
  color: #b40000;
}

/* Responsive Styles */
@media only screen and (max-width: 1050px) {
  .quote-box {
    flex-direction: column;
    text-align: center;
  }

  .quote-text {
    text-align: center;
  }

  .quote-text h2 {
    margin-top: 20px;
  }
}
