.tmu-testimonial h2 {
	color: #000;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 70px;
	margin-bottom:2.5rem;
}

.tmu-testimonial .carousel-inner{
	overflow: visible;
}
.tmu-testimonial .carousel .carousel-item {
	color: #999;
	padding-top:0rem;
	padding-bottom:2rem;
	font-size: 13px;
}
.tmu-testimonial .media img {
	width: 80px;
	height: 80px;
	display: block;
	border-radius: 50%;
	margin-right: 1rem;
	/* border: 1px solid #001055; */
	box-shadow: 4px 4px 8px 3px rgba(0, 0, 0, 0.05),
	-4px -4px 8px 3px rgba(0,0,0,0.03);
}
.tmu-testimonial .media{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 2rem;
	padding: 2rem 1.3rem 2rem 1rem;
	/* height: 28vh; */
	box-shadow: 2px 2px 10px 4px rgba(0,0,0,0.04);
}
.tmu-testimonial .testimonial p{
	line-height: 1.65;
}
.tmu-testimonial .testimonial {
	padding: 0 15px 0 60px;
	position: relative;
	margin-bottom:30px;
}
.tmu-testimonial .testimonial::before {
	content: "\201C";
	font-family: Arial, sans-serif;
	color: #e2e2e2;
	font-weight: bold;
	font-size: 68px;
	line-height: 54px;
	position: absolute;
	left: 15px;
	top: 7rem;
}
.tmu-testimonial .overview{
	text-align: center;
	margin-left:-3rem;
	margin-top:1rem;
	margin-bottom: 0rem;
}
.tmu-testimonial .overview b {
	text-transform: uppercase;
	color: #FF7900;
}
.tmu-testimonial .carousel .carousel-indicators {
	bottom: -40px;
}
.tmu-testimonial .carousel-indicators button,
.carousel-indicators button.active {
	width: 40px;
	height: 4px;
	/* border-radius: 30px; */
	margin: 1px 5px;
	box-sizing: border-box;
}
.tmu-testimonial .carousel-indicators button {
	background: #E2E2E2;
	border: none;
}
.tmu-testimonial .carousel-indicators button.active {
	/* color: #FF7900; */
	background-color: #FF7900;
	border:none;
	/* background: #FFF; */
	/* border: 5px double; */
}
.tmu-testimonial .testimonial>p:nth-child(2)
{
	max-height: 4rem;
	overflow: hidden;
}




